body {
    background-color: #000;
    background-image: url("images/moss04.jpg");
    background-attachment: fixed;
  /* background-repeat: no-repeat; */
    /* background-position-y: bottom;  */

    margin: 0;
    padding: 0;
    font-family: "Newsreader", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    /* 200 – 800 */
    font-style: normal;

}

/* id rule uses hashtag #, only one per page */
#wrapper {
    margin: 100px auto;
    width: 60%;
    background-color: #fff;
    padding: 30px 50px;
        /* background-image: url("images/moss03.jpg"); */
}

nav {
    background-color: #CC9AF5;
    padding: 40px 10px;
    text-align: center;
}
nav a {
border: 2px solid #f00;
padding:10px 20px;
margin:0px 20px;
background-color: #fff;
text-decoration: none;
}
nav a:hover {
background-color: #00ff08;
}

/* class rules use a period to make a rule about a class, use multiple times */
.wow {
    color: #f00;
    font-weight: 900;
    font-style: italic;
}

header h1 {

    font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 66px;
}

main p {

    font-size: 18px;
    line-height: 24px;
}

table, th, td, tr {
margin: 0px;
padding: 0px;

}


main table {
border: 10px solid rgb(192, 192, 192);
    background-color: rgb(255, 207, 74);

}

main table th {
border: 5px solid rgb(0, 0, 0);
    background-color: rgb(155, 155, 155);
        font-family: "Bitcount Ink", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    /* 100-900 */
    font-style: normal;
    font-variant: small-caps;
    font-size: 33px;
    padding:22px;

}

main table td {
border: 5px solid rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);

}

main h2 {

    border: solid 10px #f00;
    background-color: aquamarine;
    font-size: 34px;
    padding: 50px 10px 10px 10px;
    margin-top: 100px 0px 20px 0px;

}

main div.featuredImage {
    border: 10px solid rgb(255, 0, 0);
    background-color: #0f0;
    padding: 40px;
    width: 200px;
    margin: 100px auto;
    text-align: center;
}
main div.featuredImage img {
    width: 100%;
}